<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="main-content">

    <main>
        <h1>Edit user</h1>
        <form action="/edituser/<%=_id %>" method="POST" id="edituser-form" class="form-style" data-id="<%= _id %>">
            <ul>
                <li>
                    <div class="column">
                        <label for="name" class="sr-label">Name</label>
                        <input type="text" name="name" id="name" value="<%= name %>" class="input-field" placeholder="Name">
                    </div>
                </li>
                <li>
                    <div class="column">
                        <label for="tagname" class="sr-label">Name</label>
                        <input type="text" name="tagname" id="tagname" value="<%= tagname %>" class="input-field" placeholder="#tagName">
                    </div>
                </li>
                <li>
                    <div class="column">
                        <label for="email" class="sr-label">Email</label>
                        <input type="email" name="email" id="email" value="<%= email %>" class="input-field" placeholder="Email">
                    </div>
                </li>
                <li>
                    <div class="column">
                        <label for="phone" class="sr-label">Phone</label>
                        <input type="tel" name="phone" id="phone" value="<%= phone %>" class="input-field" placeholder="Phone">
                    </div>
                </li>
                <li>
                    <div class="column">
                        <label for="joined" class="sr-label">Joined</label>
                        <input type="date" name="joined" id="joined" value="<%= joined %>" class="input-field">
                    </div>
                </li>
                <li>
                    <div id="gameslist-container" class="column">
                        <% games.forEach(g=> { %>
                            <input type="text" class="input-field" name="games" placeholder="Game title" value="<%= g %>">
                        
                        <% }) %>

                    </div>
                    <div class="row">
                        <input type="button" value="+" id="add-game" class="plus-button">
                        <label for="add-game">Add game title</label>
                    </div>
                </li>
                <li>
                    <div class="column center">
                        <button type="submit" class="round-button">Done</button>
                    </div>
                </li>
            </ul>
        </form>
    </main>
</div>

<%- include('../partials/footer') %>
<script src="/js/edituserform.js"></script>
<%- include('../partials/end') %>