<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="main-content">
    <aside>
        <div class="avatar-quicklist">
            <ul>
                <li>
                    <a href="">
                        <div>
                            <img src="" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main>
        <h1>Memberlist</h1>
        <div class="search-container"></div>
        <div class="member-container">
            <ul>
                <% gamers.forEach(g => { %>
                    <li>
                        <a href="/user/<%= g._id %>">
                            <div>
                                <p><%= g.name %></p>
                                <p><%= g.hasOwnProperty('games') ? g.games.join(', ') : 'no games listed' %></p>
                            </div>
                        </a>
                    </li>
                <% }) %>
        
            </ul>

        </div>
    </main>
</div>
<%- include('../partials/footer') %>
<%- include('../partials/end') %>