<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="main-content">
    <aside>
        <div class="avatar-quicklist">
            <ul>
                <% gamers.forEach(g => { %>
                    <li>
                        <a href="#profile_<%= g._id %>">
                            <div>
                                <img src="/img/icons/avatar_icon.svg" alt="">
                            </div>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </aside>
    <main>
        <div class="memberlist-container margin-top">
            <h1>Memberlist</h1>
            <div class="search-container">
                <form action="/users" method="GET">
                    <ul>
                        <li>
                            <span>Order: </span>
                            <span class="input-grp">
                                <input type="checkbox" name="sort" id="ascending" value="1">
                                <label for="ascending">Ascending</label>
                            </span>
                            <span class="input-grp">
                                <input type="checkbox" name="sort" id="descending" value="-1">
                                <label for="descending">Descending</label>
                            </span>
                        </li>
                        <li>
                            <select name="game" id="games">
                                <option value="" disabled selected>-Choose game-</option>
                                <% gamesOptions.forEach(game => { %>
                                    <option value="<%= game %>"><%= game %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <input type="text" name="search-name-field" id="search-name-field">
                            <button type="submit">Search</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="memberlist-container">
            <ul class="memberlist">
                <% gamers.forEach(g => { %>
                    <li>
                        <a href="/user/<%= g._id %>" id="profile_<%= g._id %>">
                            <div class="profile-container">
                                <div class="avatar-row-header">
                                    <div class="avatar-icon-container">
                                        <img src="/img/icons/avatar_icon.svg" alt="">
                                    </div>
                                    <div class="profile-names">
                                        <h2><%= g.name %></h2>
                                        <span><%= typeof g.tagname !== 'undefined' && g.tagname !== '' ? '#' + g.tagname : 'no tag name' %></span>
                                    </div>
                                </div>
                                <div class="active-game-row">
                                    <span><%= g.hasOwnProperty('activegame') && g.activegame !== '' ? 'Playing: '  + g.activegame : 'no active game' %></span>
                                </div>
                            </div>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </main>
</div>
<%- include('../partials/footer') %>
<script src="/js/memberlist.js"></script>
<%- include('../partials/end') %>