<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="main-content">
    <main>
        <div class="page-section lightblue">
            <div class="text-content">
                <article>
                    <h2>A channel for all playthroughers</h2>
                    <p>Gamers sandbox is a collection of many popular playthroughers across top popular streaming sites.</p>
                    <p>We may of course have your favourite streamer for you, so check out our members.</p>
                    <p>OR</p>
                    <p>Join our community and be a playthrougher at Gamer sandbox today!</p>
                </article>
            </div>
            <div class="img-container">

                <img src="/img/cyberpunk-2077-launch-homepage-marquee-desktop-01-ps4-en-01dec20.png" alt="">
            </div>
        </div>
        <div class="page-section yellow">
            <div class="text-content">
                <p class="banner-text">Over <%= gamersCount %> registered playthroughers.</p>

            </div>
        </div>
        <div class="page-section yellow">
            <div class="img-container">
                <img src="/img/v-horizonzerodawn-review-1210x540.jpg" alt="">
            </div>
            <div class="text-content">
                <article>
                    <h2></h2>
                    <p></p>
                </article>

            </div>
        </div>
    </main>

</div>

<%- include('../partials/footer') %>
<%- include('../partials/end') %>